{% extends 'Home/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
   
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">{% trans "Edit Teacher" %}</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">{% trans "Teachers" %}</a></li>
                           <li class="breadcrumb-item active">{% trans "Edit Teacher" %}</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="POST">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>{% trans "Teacher Information" %}</span></h5>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>{% trans "Username" %}</label>
                                       <input type="text" class="form-control" name="username" value="{{ teacher.user.username }}" required>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>{% trans "Email" %}</label>
                                       <input type="email" class="form-control" name="email" value="{{ teacher.user.email }}" required>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Họ</label>
                                       <input type="text" class="form-control" name="first_name" value="{{ teacher.user.first_name }}" required>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Tên</label>
                                       <input type="text" class="form-control" name="last_name" value="{{ teacher.user.last_name }}" required>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Số điện thoại</label>
                                       <input type="text" class="form-control" name="phone_number" value="{{ teacher.phone_number|default:'' }}" placeholder="Nhập số điện thoại">
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Chuyên môn</label>
                                       <input type="text" class="form-control" name="specialization" value="{{ teacher.specialization|default:'' }}" placeholder="Nhập chuyên môn">
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>{% trans "New Password" %} <small>({% trans "Leave blank to keep current password" %})</small></label>
                                       <input type="password" class="form-control" name="password" placeholder="{% trans 'Enter new password' %}">
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                                    <a href="{% url 'teacher_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
{% endblock %}



